@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


@theme {
    --color-dark-green: #1C3F3A;
    --color-light-green: #108A00;
    --color-dark: #333;
    --color-bright-green: #00A63E;
    --color-faint-green: #F0F7F6;
}

@theme {
    --font-roboto: "Open Sans", sans-serif;
}

html,
body {
    overflow-x: hidden;
}